<?xml version="1.0" encoding="utf-8" ?>
<TestConfiguration>
  <TestUserList>
    <TestUser>
      <UserName>UserTest</UserName>
      <Password>pass01</Password>
      <Access>255</Access>
      <Type>Renew</Type>
    </TestUser>
    <TestUser>
      <UserName>UserTest2</UserName>
      <Password>pass01</Password>
      <Access>255</Access>
      <Type>RA</Type>
    </TestUser>
    <TestUser>
      <UserName>PermissionsScout</UserName>
      <Password>pass01</Password>
      <Access>255</Access>
      <Type>RA</Type>
    </TestUser>
    <TestUser>
      <UserName>bill.moor@ciscoinc.com</UserName>
      <Password>pass01</Password>
      <Access>255</Access>
      <Type>Renew</Type>
    </TestUser>
    <TestUser>
      <UserName>bill.moor@dell.com</UserName>
      <Password>pass01</Password>
      <Access>255</Access>
      <Type>Renew</Type>
    </TestUser>
    <TestUser>
      <UserName>PermissionsAnalyze</UserName>
      <Password>pass01</Password>
      <Access>2</Access>
      <Type>RA</Type>
    </TestUser>
  </TestUserList>
  <CustomerInstances>
    <CustomerInstance key="Default">dell</CustomerInstance>
  </CustomerInstances>
  <DownloadDir>C:\Temp</DownloadDir>
  <TestDataDir>C:\OG\TestData</TestDataDir>
  <DatabaseConfig>
    <ConnStr key="Admin">Data Source=nrt-sql2.scan.local,44444;Initial Catalog=scout_administration;Uid=sa;Pwd=!w3Bsecure4u%;MultipleActiveResultSets=True</ConnStr>
    <ConnStr key="Logging">Data Source=nrt-sql2.scan.local,44444;Initial Catalog=scout_logging;Uid=sa;Pwd=!w3Bsecure4u%;MultipleActiveResultSets=True</ConnStr>
  </DatabaseConfig>
  <JobSystemConfig>
    <ConfigItem key="MasterServer">nrt-mr1.scan.local</ConfigItem>
    <ConfigItem key="JobMasterPort">51525</ConfigItem>
    <ConfigItem key="JobServerDomain">scan.local</ConfigItem>
    <ConfigItem key="JobRunnerPort">51530</ConfigItem>
  </JobSystemConfig>
  <PlatformVersion>frb1</PlatformVersion>
  <TestUrlList>
    <TestUrl key="DummyJsonApiBase">https://dummyjson.com</TestUrl>
  </TestUrlList>
  <IsPerformanceRun>false</IsPerformanceRun>
  <WebTestMethod>WebApi</WebTestMethod>
  <BrowserConfig>
    <ConfigItem key="BrowserOverride">Chrome</ConfigItem>
    <ConfigItem key="BrowserSize">1550,942</ConfigItem>
    <ConfigItem key="BrowserLocation">2116,55</ConfigItem>
  </BrowserConfig>
</TestConfiguration>
